<div ng-include="'components/header/header.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="form group">
                <div class="col-xs-10 col-xs-offset-1  jumbotron">
                    <form role="form-inline">
                        <div class="form-group">
                            <div class="row">
                                <h2>It's like:</h2>
                                <input type="text" class="form-control" id="track" ng-model="originaltrack" placeholder="Artist - Song">
                                <h5 class="pull-right">but...</h5>
                            </div>
                            <div class="row well well-sm">
                                <div class="col-xs-2 text-center slider-label">
                                    Slower
                                </div>
                                <div class="col-xs-8">
                                    <slider floor="-100" ceiling="100" step="1" precision="1" ng-model="tempo"></slider>
                                </div>
                                <div class="col-xs-2 text-center slider-label">
                                    Faster
                                </div>
                            </div>
                            <div class="col-xs-12 text-center">
                                <button type="submit" class="btn btn-primary" ng-click="processData($event)">IT'S LIKE THAT</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h5>DEBUG</h5>
        <p>
            <strong>Raw from input:</strong> {{originaltrack}}
            <br/>
            <strong>Artist:</strong> {{artist}}
            <br/>
            <strong>Track:</strong> {{track}}
            <br/>
            <strong>TempoMod:</strong> {{tempo}}
            <br/>
            <strong>Status:</strong> {{status}}
            <br/>
            <strong>Results:</strong><br/>
            <span ng-repeat="result in results">
                <spotify-tile result="result"></spotify-tile>
            </span>
            
        </p>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p>ITSLIKE... Prototype | Spotify Discovery Tool | What's ITSLIKE?</p>
    </div>
</footer>