<div class="col-xs-12 col-md-6 spotify-tile-container">
    <div class="col-xs-12 spotify-tile">
        <div class="col-xs-5 no-padding">
            <img class="img-responsive album-art" ng-src="{{result.album.images[1].url}}" ng-click="playPreview(result.preview_url,$event)" />
        </div>
        <div class="col-xs-7">
            <div class="song-info">
                <div class="row">
                    <span class="field-title">Song:</span> {{result.name}}
                </div>
                <div class="row">
                    <span class="field-title">Artists:</span>
                    <span ng-repeat="artist in result.artists">
                    {{artist.name}}
            		</span>
                </div>
                <div class="row">
                    <span class="field-title">Album:</span> {{result.album.name}}
                </div>
                
        </div>
    </div>